* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-flex {
    display: flex;
    justify-content: flex-start;
}

/* sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    width: 15%;  
    height: calc(100vh - 80px);
}

.column {
    margin: 20px 20px;
    line-height: 40px;
    font-size: 20px;
}

#pc-logo {
    width: 70%;
    margin: 0 -10px;
    object-fit: contain;
}

#media-logo {
    display: none;
}

.item-select {
    color: white;
    
}

nav ul li {
    list-style-type: none;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: white;
}

.display-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 280px);
}    

.playlist h2 {
    font-size: 20px;
    color: white;
}

.playlist ul {
    height: calc(300px - 82px);
}

.fa-square-plus {
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

#footer-sidebar {
    color: white;
}

.fa-circle-down {
    margin: 0 5px;
}

#footer-sidebar img {
    margin-top: 20px;
    width: 8%;
    margin: 0 5px;
    background-color: grey;
    border-radius: 50%;
}
/* main */
main {
    width: calc(100% - 15%);
}
/* header */
header {
    height: 80px;
    background-color: rgb(8, 11, 18);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a {
    padding: 10px;
    color: white;
    border: white solid 1px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

/* layout spotify */
.menu {
    height: calc(100vh - 160px);
    background-color: #141922;
    overflow-y: scroll;
}

.second-nav {
    display: flex;
    justify-content: center;
}

.second-nav li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

#select-item {
    border-bottom: 2px solid green;
}

.title {
    margin: 30px 0;
    display: block;
}

.title h2 {
    color: white;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: flex-start;
}

.item {
    width: 17%;
    color: grey;
    margin: 10px;
}

.position {
    position: relative;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-center .fa-circle-play {
    font-size: 40px;
    color: white;
    display: none;
}

.position:hover .fa-circle-play {
    display: block;
}

.item h3 {
    color: white;
}

.item img {
    width: 100%;
    height: auto;
}

.item img:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.text {
    text-align: center;
}

.grey {
    color: grey;
    font-size: 15px;
}

.circle-img {
    border-radius: 50%;
}

footer {
    background-color: #282828;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

footer img {
    width: 50px;
    height: 50px;
}

.item-footer { 
    display: flex;
    align-items: center;
}

.testo {
    margin-left: 10px;
}

.testo h3 {
    color: white;
}

.margin {
    margin-left: 30px;
}

.fa-heart {
    margin-right: 5px;
}

.icon {
    color: white;   
}

.font-s {
    font-size: 30px;
}

.icon i {
    margin: 10px 20px;
}

.cx {
    text-align: center;
}

.dx i {
    margin: 0 10px;
}

#barra-volume {
    width: 100px;
    border-radius: 10px;
    border: 2px solid grey;
    border-left: 20px solid white;
    display: inline-block;
}

#special-hr {
    width: 500px;
    border: 2px solid grey;
    border-left: 80px solid white;
    display: inline-block;
}

.f-size {
    font-size: 15px;
}

.text-volume {
    color: white;
}

@media screen and (max-width: 1025px) {
    .playlist ul{
        overflow-y: scroll;
    }
}

/* responsive pc piccolo */
@media screen and (max-width: 940px) {
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        width: 21%;
    }
    /* footer */

    .icon i {
        margin: 5px 10px;
    }

    .dx i {
        margin: 0 2px;
    }

    #special-hr {
        width: 350px;
    }    

    #barra-volume {
        width: 80px;
    }    
}
/* responsive tablet */
@media screen and (max-width: 750px) {

    #sidebar {
        width: 20%;
    }

    .item {
        width: 40%;
    }

    .icon i {
        margin: 5px 10px;
    }

    .dx i {
        margin: 0 1px;
    }

    #special-hr {
        width: 250px;
    }    

    #barra-volume {
        width: 60px;
    } 
}
/* responsive telefono */
@media screen and (max-width: 600px) {

    #sidebar {
        width: 10%;
        align-items: center;
    }

    main {
        width: 90%;
    }
    /* sidebar */
    .column {
        line-height: 80px;
    }

    .playlist, #footer-sidebar, 
    .text-icon, #pc-logo{
        display: none;        
    }

    #media-logo {
        display: block;
    }

    .icon i {
        margin: 5px 5px;
    }

    .dx i {
        margin: 0;
    }

    #special-hr {
        width: 200px;
    }    
    #barra-volume {
        width: 40px;
    } 
}

@media screen and (max-width: 546px) {
    
    /* footer */

    .item-footer {
        margin-right: 30px;
    }

    .icon i {
        margin: 10px 0;
    }

    .dx i {
        margin: 0;
    }

    #special-hr {
        width: 150px;
    }    
    #barra-volume {
        width: 20px;
    } 
}